@import "tailwindcss";

/* Smooth scroll for whole website */
html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(169, 119, 216);
  border-radius: 5rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(145, 90, 200);
}



.drawer-item {
  @apply flex items-center gap-3 px-4 py-3 rounded-xl text-gray-700
  hover:bg-yellow-50 hover:text-yellow-600 transition font-medium;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.6);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out forwards;
}

.animate-scaleIn {
  animation: scaleIn 0.4s ease-out forwards;
}
